@font-face {
    font-family: 'GitFont';
    src: url('../assets/fonts/COLLEGIA.ttf');
}

#Most_popular_repos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Default';
    gap: 0.5rem;
}
